@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);


#css-zen-garden {
	margin:0;
	padding:0;
	
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
  font-weight: bold;
}

.page-wrapper {
	width: 70%;
	min-width: 960px;
	margin:0 auto;
	background-color: #fff;
	line-height: 1.5em;
}

header {
	
	background-image: linear-gradient(to top, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/photo-1447752875215-b2761acb3c5d.jpg);
	color:white;
	height:500px;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid white;
	border-radius: 30px 50% 0 0;
	margin-top: 20px;
	padding-top: 80px;
	
}

.intro h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 5em;
	text-shadow: 4px 2px 4px #fff;
	padding-left: 8%;
	color: white;
}

.intro h2 {
	text-align: right;
	padding-right: 10%;
	font-family: arial, helvetica, sans-serif;
	color: white;
}

p {color: grey;}

h1, h2, h3 {
	font-family: 'Architects Daughter', cursive;
	font-size: 1.8em;
	color: #3F6931;}

a {color: darkred;}

a:hover {
	color: #3F6931;
	font-style: italic;
}

li {
	list-style: none;
	padding-bottom: 10px;}

ul a {
	text-decoration: none;
	 margin-bottom: 50px;
	 font-size: 1.2em;}
.summary {
	width: 100%;
}

.preamble {
	width: 70%;
	
}

.main supporting {
	width: 70%;
}

.explanation {
	width:70%;
}

.participation {
	width:70%;
}

.benefits {
	width:70%;
}

.requirements {
	width:70%;
}

.wrapper {
	position: absolute;
    height: 750px;
	top: 700px;
    right: 15%;
    width: 25%;
    border: 1px solid lightgrey;
	max-width:250px;
	border-radius: 10px;
	padding-right:20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	-webkit-animation: breath 5s infinite; /* Chrome, Safari, Opera */
    animation: breath 5s infinite;
	
}

.wrapper h3 {
	padding-left: 40px;
	padding-top: 20px;
}

.zen-resources {
	
	border: 1px solid lightgrey;
	margin-top: 100px;
	border-radius: 10px;
	width: 100%;
	padding-right:20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px lightgrey;
	-webkit-animation: breath 5s infinite; /* Chrome, Safari, Opera */
    animation: breath 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes breath {
    50% {box-shadow: 10px 20px 30px #3F6931;}
}

/* Standard syntax */
@keyframes breath {
    50% {box-shadow: 10px 20px 30px #3F6931;}
}

footer {width: 100%;
	  height: 200px;
	  
	  font-size: 4em;
	  padding: 30px;
	  }
	  


.zen-validate-html {
	display: inline-block;
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	padding-left:100px;
	padding-top: 70px;
	  }
	  
.zen-validate-css {
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	padding-left: 20px;
}

.zen-license {
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	padding-left: 20px;
}

.zen-accessibility {
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	padding-left: 20px;
}

.zen-github {
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	padding-left: 20px;
}




