@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);


#css-zen-garden {
	margin:0;
	padding:0;
	
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  font-weight: bold;
  text-decoration: none !important;
}

.page-wrapper {
	background-color: #fff;
	line-height: 1.5em;
	margin:0 auto;
	width: 70%;
}

header {
	background-image: -webkit-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: -moz-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: -o-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: linear-gradient(to top, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 30px 50% 0 0;
	border-top: 1px solid white;
	color:white;
	height:500px;
	margin-top: 20px;
	padding-top: 80px;
	
}

.intro h1 {
	color: white;
	font-family: 'Architects Daughter', cursive;
	font-size: 5em;
	padding-left: 8%;
	text-shadow: 4px 2px 4px #fff;
}

.intro h2 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	padding-right: 10%;
	text-align: right;
}

p {color: grey;}

h1, h2, h3 {
	color: #3F6931;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.8em;
	}

a {color: darkred;}

a:hover {
	color: #3F6931;
	font-style: italic;
}

li {
	list-style: none;
	padding-bottom: 10px;}

ul a {
	font-size: 1.2em;
	margin-bottom: 50px;
	text-decoration: none;
}
	 
.summary {
	margin-top: 60px;
	width: 100%;
}

.summary p {
	color: #3F6931;
	font-weight: bold;
}
	
.summary a {
	display: inline-block;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}
	
.summary a::before {
	content: url(../img/Button-Download-icon.png);
	padding: 5px;
}

.preamble {
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	margin-top: 20px;
	padding: 20px;
	width:70%;
}
.main {
	width: 70%;
}

.explanation,
.participation,
.benefits,
.requirements {
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	margin-top: 20px;
	padding: 20px;
	width:100%;
}

.wrapper {
	-webkit-animation: breath 5s infinite; /* Chrome, Safari, Opera */
    animation: breath 5s infinite;
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	height: 750px;
	max-width:250px;
	padding-bottom: 20px;
	padding-right:20px;
	position: absolute;
	right: 15%;
	top: 750px;
    width: 25%;
}

.wrapper h3 {
	padding-left: 40px;
	padding-top: 20px;
}

.zen-resources {
	-webkit-animation: breath 5s infinite; /* Chrome, Safari, Opera */
    animation: breath 5s infinite;
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px lightgrey;
	margin-top: 100px;
	padding-bottom: 20px;
	padding-right:20px;
	width: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes breath {
    50% {box-shadow: 10px 20px 30px #3F6931;}
}

/* Standard syntax */
@keyframes breath {
    50% {box-shadow: 10px 20px 30px #3F6931;}
}

footer {
	background-color:#3F6931;
	border-radius: 5px 5px 0 0;
	font-size: 4em;
	height: 100px;
	margin-top:40px;
	padding-top: 90px;
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
	}

footer a {
	color: #fff;
	font-family: 'Architects Daughter', cursive;
	padding-left: 5%;
	text-decoration: none;
}

footer a:hover {
	color:darkred;
}

@media screen and (max-width: 1500px) {
    .page-wrapper {
        width: 100%;
    }	
	.wrapper{
		right: 1%;
		top:730px;
	}
	header {
	background-image: -webkit-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: -moz-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: -o-linear-gradient(bottom, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-image: linear-gradient(to top, white, rgba(255,255,255,1.0) 0%,rgba(255,255,255,0.1) 100% )
					 ,url(../img/Untitled.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0 0 0 0;
	border-top: 0;
	color:white;
	height:500px;
	margin-top: 0;
	padding-top: 80px;
	}
	footer,
	.preamble,
	.summary,
	.explanation,
	.participation,
	.benefits,
	.requirements{
		margin-left: 10px;
	}
	
}	








